<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
    <p>Titre: <%= post.title %></p>
    <p>Contenu: <%= post.content %></p>
    <button id="delete-btn">Supprimer cet article</button>
    <a href="/posts/<%= post.id %>/edit">
      <button type="button">Editer cet article</button>
    </a>

    <br />
    <br />

    <a href="/posts">Retour à la liste</a>
    <br />
    <a href="/posts/new">Nouveau</a>

    <script>
        document.getElementById("delete-btn").addEventListener("click", async () => {
          if (confirm("Voulez-vous vraiment supprimer cet article ?")) {
            const response = await fetch("/posts/<%= post.id %>", {
              method: "DELETE"
            });
      
            if (response.ok) {
              window.location.href = "/posts";
            } else {
              alert("Erreur lors de la suppression de l'article.");
            }
          }
        });
      </script>
</body>
</html>